




  .button-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .buttonWrapper {
    display: block;
    position: relative;
    margin-bottom: 20px; 
  }
  .button, .buttonPrimary {
    outline: none;
    display: block;
    border: 1px solid #999;
    border-radius: 4px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    text-decoration: none; 
    cursor: pointer;
    padding: 15px 30px;
    transition: background-color 200ms ease;
    -webkit-transition: background-color 200ms ease;
    -webkit-transform: translate(0px, -1px);
    -ms-transform: translate(0px, -1px);
    transform: translate(0px, -1px);
    font-size: 16px;
    line-height: 20px;
    width: 100%;
  }





  .button.primary, .buttonPrimary {
    overflow: visible;
    border-style: none none solid;
    border-bottom-width: 3px;
    border-bottom-color: #8c5416;
    background-color: #d68021;
  }

  .button.primary:hover, .buttonPrimary:hover {
    border-bottom-color: #a3631a;
    background-color: #e89338;
  }

  .button:active , .buttonPrimary:active {
    margin-bottom: 1px;
    border-bottom-width: 2px;
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }

  .button.primary:active, .buttonPrimary:active {
    background-color: #c7751e;
  }

  .button.secondary {
    border: 1px solid #d68021;
    background-color: transparent;
    color: #d68021;
  }

  .button.secondary:hover {
    border-color: #ba6102;
    color: #ba6102;
  }

  .button.secondary:hover {
    background-color: hsla(0, 0%, 100%, .29);
  }

  .button.secondary:active {
    background-color: hsla(0, 0%, 100%, .54);
  }


  @media only screen and (min-width: 768px) {

        .button, .buttonWrapper, .buttonPrimary {
          display: inline-block;
          width: inherit; 
        }
  }